<ion-view view-title="Endless Stocks">
  <ion-content class="padding" on-swipe-left="onSwipe('left')" on-swipe-right="onSwipe('right')" on-swipe-up="onSwipe('up')" on-swipe-down="onSwipe('down')">
	<div ng-class="{hide: stocks.length == 0}" style="text-align:center;">
    <!-- E11111 red and 28a54c green -->
		<img src="{{graphURL}}" style="width:100%;" />
    <h4 style="margin-top:-5px;">{{ interval }}</h4>
		<h3>{{stockName}}: <span style="font-weight:bold;">${{price | number: 2}} </span><span style="color: {{perChangeColor}}">({{perChange}})</span></h3>
	</div>
	<div ng-class="{hide: stocks.length > 0}">
		<h4>You do not have any stocks added.</h4>
	</div>
  <!-- Only for debugging on desktop
	<p ng-click="debugChange(0)">Stock</p>
	<p ng-click="debugChange(1)">Interval</p>
-->
<br />
<div class="arrowcontrols">
    <i class="ion-arrow-up-c" style="display: block; margin-bottom: -10px;" on-tap="onSwipe('up')"></i>
    <i class="ion-arrow-left-c" style="padding-right: 125px;" on-tap="onSwipe('right')"></i>
    <i class="ion-arrow-right-c" on-tap="onSwipe('left')"></i>
    <i class="ion-arrow-down-c" style="display: block; margin-top: -10px;" on-tap="onSwipe('down')"></i>
</div>
  </ion-content>
</ion-view>
