<ion-view view-title="Endless Stocks">
  <ion-content class="padding">
  <form ng-submit="addStock(stock)">
    <label class="item item-input">
	  <span class="input-label">Enter stock symbol here: </span>
	  <input type="text" ng-model="stock.symbol">
	</label>
	<button type="submit" class="button button-block" ng-class="buttonColor">{{ addDelete }}</button>
	</form>
	<br/>
	<ion-list>
		<ion-item ng-repeat="stock in stocks | orderObjectBy:'symbol' track by $index" ng-click="clicked(stock)" ng-class="{ active: (selected.indexOf(stock.symbol) > -1 ) }">
			{{stock.symbol}}
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
