<ion-view view-title="QuickStocks">
  <ion-content class="padding">
    <label class="item item-input">
	  <span class="input-label">Enter stock symbol here: </span>
	  <input type="text">
	</label>
	<button class="button button-block button-positive">
		Add
	</button>
	<br/>
	<h3>Your stocks</h3>
	<ul class="list">
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
		<li class="item">AAPL</li>
	</ul>
  </ion-content>
</ion-view>
